<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Login</h1>
	<form class="panel panel-primary" method="post"
						th:action="@{/login}" th:object="${user}" autocomplete="on">
		<label for="username">Your UserName:</label>
		<input th:field="*{username}" id="username" />
		<br/>
		<label for="password">Your Password:</label>
		<input th:field="*{password}" id="password" />
		<p th:if="${#fields.hasErrors('password')}"
									class="label label-danger" th:errors="*{password}">Incorrect
									User Name or Password</p>
		<br/>
		<input type="submit" value="Submit" />
	</form>
	Not a member ? <a href="register">Register</a>
</body>
</html>