<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Register</h1>
	<form th:object="${user}" method="post">
		<label for="username">Your UserName:</label>
		<input th:field="*{username}" id="username" />
		<br/>
		<label for="password">Your Password:</label>
		<input th:field="*{password}" id="password" />
		<br/>
		<input type="submit" value="Submit" />
	</form>
	Already a member ? <a href="login">Login</a>
</body>
</html>