<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Register</h1>
	<form class="panel panel-primary" method="post"
						th:action="@{/register}" th:object="${user}" autocomplete="on">
		<label for="username">Your UserName:</label>
		<input th:field="*{username}" id="username" />
		<p th:if="${#fields.hasErrors('username')}"
			class="label label-danger" th:errors="*{username}">User Name Error</p>
		<br/>
		<label for="password">Your Password:</label>
		<input type="password" th:field="*{password}" id="password" />
		<p th:if="${#fields.hasErrors('password')}"
			class="label label-danger" th:errors="*{password}">Password Error</p>
		<br/>
		<label for="passwordConfirm">Confirm Password:</label>
		<input type="password" th:field="*{passwordConfirm}" id="passwordConfirm" />
		<p th:if="${#fields.hasErrors('passwordConfirm')}"
			class="label label-danger" th:errors="*{passwordConfirm}">Passwords are not same</p>
		<br/>
		<input type="submit" value="Submit" />
	</form>
	Already a member ? <a href="login">Login</a>
</body>
</html>